*{  box-sizing: border-box;
    margin:0;
    padding:0;}
@font-face {
    font-family: Lora;
    src: url('static/Lora-VariableFont_wght.ttf');
}
@font-face {
    font-family:robot;
    src: url('static/static/RobotoMono-ExtraLight.ttf');
}
@font-face {
    font-family: kaushan;
    src: url('static/static/KaushanScript-Regular.ttf');
}
body{
    background-color: rgb(10, 10, 10);
    font-family: Lora;
}
header{
    position: fixed;
    display:inline-block;
    width: 20%;
    vertical-align: top;
    text-align: center;
}
header nav{
    display:flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color:rgb(10, 10, 10) ;
    
}
header nav>a{
    padding:5%;
    border-bottom:1px solid grey;
    text-decoration: none;
    color:rgb(202, 199, 199);
    font-family: Lora;
    font-size: 1.5rem;
}
nav div{
    padding:5%;
    border-top:1px solid grey;
}
nav div a{
    text-decoration: none;
    color:rgb(202, 199, 199);
    font-size: 1.5rem;
}
nav div a:hover,header nav>a:hover{
    color:teal;
}
#img{
    width: 100%;
}
/************************main****************************/
main{
    display:inline-block;
    width: 80%;
    padding-left: 5%;
    color:white;
    background-color: rgb(36, 34, 34);
    margin-left:20% ;
    background-image: url('img/bg_body.svg');
}
h1{
    font-size: 5rem;
    position: relative;
    letter-spacing: 2px;
    background:linear-gradient(90deg,teal, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    
}
@keyframes animate {
    0% {
    background-position: -500%;
    }
    100% {
    background-position: 0%;
    }
}

h6{
    font-size: 20px;
    font-family: robot;
}
#contact{
    font-size: 2rem;
    border:2px solid teal;
    width:25%;
    padding: 1%;
    margin-top: 5%;
    font-family: robot;
    text-align: center;
}
.section1 #contact a{
    color:teal;
    text-decoration: none;
}
.section1 #contact:hover,.section1 #contact:hover a{
    background-color: teal;
    color:white;
}
.section1{
    margin-bottom:100px;
}
#profil{
    width: 35%;
    border-radius: 100%;
    justify-content: center;
}
.section2 div div{
    width: 65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.section2 div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:4%;
}
#detaille{
    background: rgba(0,0,40,0.2);
    width: 97%;
}
h2{
    color:teal;
    font-size: 3rem;
    font-family: robot;
    margin:4% auto;
}
h3{
    margin:2% 0;
    background: -webkit-linear-gradient(#eee,#0C82DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.exp1{
    background-image:url('img/desktop.png');
}
.exp2{
    background: url('img/desktop-home.jpg');
}
.exp3{
    background-image: url('img/desktop1-home.jpg');
}
.exp4{
    background-image: url('img/desktop2.png');
}
.exp1 , .exp2 , .exp3 , .exp4{
    width:40%;
    border:1px solid rgb(196, 193, 193);
    display: inline-block;
    height: 20rem;
    margin:2rem;
    background-size: cover;
    background-position: center;
    position: relative;
}
p,.progress{line-height:2rem;}
hr{
    width: 97%;
}
.section3{
    position: relative;
}
.section3 div:hover{
    opacity:0.7;
}
.section3 div a{
    padding:10% 4%;
    background-color:rgb(240, 216, 216);
    border-radius: 100%;
    color:white;
    font-family: kaushan;
    text-decoration: none;
    position:absolute;
    top:7rem;
    left: 8.5rem;
    display: none;
}
.section3 div:hover a{
    display:block;
}
address a{
    color:#0C82DF;
    text-decoration: none;
}
.anim{
    animation-name: rotate;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    0%{transform-origin: center rotate(0deg);}
    100%{transform: scale(1.3) rotate(360deg);}
}
.section4 div div{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content:space-between;
}
.section4 div{
    display: flex;
    flex-direction: row;
}
#nom,#email,#subject,#message,#boutton{
    background-color:lavender;
    margin:2% auto;
    border: none;
    padding: 1.2%;
}
#nom,#email,#subject,#boutton{
    height: 3rem;
}
#subject,#message{
    width: 97%;
}
#boutton{
     float:right;
     margin-right: 7%;
     margin-top: 15%;
     width: 60%;
     background: transparent;
     color: teal;
     box-shadow:1px 1px 2px 2px teal;
     font-family: robot;
}
#boutton:hover{
    background-color: teal;
    color: white;
}
.section4{
    margin:5% auto;
}
iframe:hover{
    opacity:0.7;
}
@media screen and (min-width:765px) and (max-width:1024px){
    main{
        text-align: center;
        padding-left:2%;
    }
    h1{
        font-size: 2rem;
        background-size: 90%;
    }
    #contact{
        font-size: 1.5rem;
    }
    .section2 div div{
        width: 100%;
    }
    .section2 div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .exp1 , .exp2 , .exp3 , .exp4{
        width:90%;
        display: block;
    }
    .section4 div div{
        width: 100%;
    }
    .section4 div{
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    #boutton{
        float: none;
        width: 90%;
    }
    .section3 div a{
        padding:5% 1%;
        position:absolute;
        top:7rem;
        left: 19rem;
    }
    
}
@media screen and (max-width:765px){
    header{
        position: static;
        display: block;
        width: 100%;
    }
    main{
        display: block;
        width: 100%;
        margin-left: 0%;
        text-align: center;
        padding: 2%;
    }
    h1{
        font-size: 2rem;
        background-size: 90%;
    }
    #contact{
        font-size: 1.5rem;
        width: 90%;
        margin-left:4%;
    }
    .section2 div div{
        width: 100%;
    }
    .section2 div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .exp1 , .exp2 , .exp3 , .exp4{
        width:90%;
        display: block;
    }
    .section4 div div{
        width: 100%;
    }
    .section4 div{
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    #boutton{
        float: none;
        width: 90%;
        margin-left: 2%;
    }
    .section3 div a{
        padding:5% 1%;
        position:absolute;
        top:7rem;
        left: 19rem;
    }
    
}

